<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cdyy.loan.dao.LoanRepaymentMapper" >
  <resultMap id="BaseResultMap" type="com.cdyy.loan.pojo.po.LoanRepayment" >
    <id column="rid" property="rid" jdbcType="BIGINT" />
    <result column="uid" property="uid" jdbcType="BIGINT" />
    <result column="lid" property="lid" jdbcType="BIGINT" />
    <result column="reperiods" property="reperiods" jdbcType="INTEGER" />
    <result column="rexpiretime" property="rexpiretime" jdbcType="TIMESTAMP" />
    <result column="rmoney" property="rmoney" jdbcType="DOUBLE" />
    <result column="rtime" property="rtime" jdbcType="TIMESTAMP" />
    <result column="rtype" property="rtype" jdbcType="INTEGER" />
    <result column="rstate" property="rstate" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    rid, uid, lid, reperiods, rexpiretime, rmoney, rtime, rtype, rstate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cdyy.loan.pojo.po.LoanRepaymentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from loan_repayment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from loan_repayment
    where rid = #{rid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from loan_repayment
    where rid = #{rid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.cdyy.loan.pojo.po.LoanRepaymentExample" >
    delete from loan_repayment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cdyy.loan.pojo.po.LoanRepayment" >
    insert into loan_repayment (rid, uid, lid, reperiods, 
      rexpiretime, rmoney, rtime, 
      rtype, rstate)
    values (#{rid,jdbcType=BIGINT}, #{uid,jdbcType=BIGINT}, #{lid,jdbcType=BIGINT}, #{reperiods,jdbcType=INTEGER}, 
      #{rexpiretime,jdbcType=TIMESTAMP}, #{rmoney,jdbcType=DOUBLE}, #{rtime,jdbcType=TIMESTAMP}, 
      #{rtype,jdbcType=INTEGER}, #{rstate,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cdyy.loan.pojo.po.LoanRepayment" >
    insert into loan_repayment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rid != null" >
        rid,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="lid != null" >
        lid,
      </if>
      <if test="reperiods != null" >
        reperiods,
      </if>
      <if test="rexpiretime != null" >
        rexpiretime,
      </if>
      <if test="rmoney != null" >
        rmoney,
      </if>
      <if test="rtime != null" >
        rtime,
      </if>
      <if test="rtype != null" >
        rtype,
      </if>
      <if test="rstate != null" >
        rstate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rid != null" >
        #{rid,jdbcType=BIGINT},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="lid != null" >
        #{lid,jdbcType=BIGINT},
      </if>
      <if test="reperiods != null" >
        #{reperiods,jdbcType=INTEGER},
      </if>
      <if test="rexpiretime != null" >
        #{rexpiretime,jdbcType=TIMESTAMP},
      </if>
      <if test="rmoney != null" >
        #{rmoney,jdbcType=DOUBLE},
      </if>
      <if test="rtime != null" >
        #{rtime,jdbcType=TIMESTAMP},
      </if>
      <if test="rtype != null" >
        #{rtype,jdbcType=INTEGER},
      </if>
      <if test="rstate != null" >
        #{rstate,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cdyy.loan.pojo.po.LoanRepaymentExample" resultType="java.lang.Integer" >
    select count(*) from loan_repayment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update loan_repayment
    <set >
      <if test="record.rid != null" >
        rid = #{record.rid,jdbcType=BIGINT},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=BIGINT},
      </if>
      <if test="record.lid != null" >
        lid = #{record.lid,jdbcType=BIGINT},
      </if>
      <if test="record.reperiods != null" >
        reperiods = #{record.reperiods,jdbcType=INTEGER},
      </if>
      <if test="record.rexpiretime != null" >
        rexpiretime = #{record.rexpiretime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rmoney != null" >
        rmoney = #{record.rmoney,jdbcType=DOUBLE},
      </if>
      <if test="record.rtime != null" >
        rtime = #{record.rtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rtype != null" >
        rtype = #{record.rtype,jdbcType=INTEGER},
      </if>
      <if test="record.rstate != null" >
        rstate = #{record.rstate,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update loan_repayment
    set rid = #{record.rid,jdbcType=BIGINT},
      uid = #{record.uid,jdbcType=BIGINT},
      lid = #{record.lid,jdbcType=BIGINT},
      reperiods = #{record.reperiods,jdbcType=INTEGER},
      rexpiretime = #{record.rexpiretime,jdbcType=TIMESTAMP},
      rmoney = #{record.rmoney,jdbcType=DOUBLE},
      rtime = #{record.rtime,jdbcType=TIMESTAMP},
      rtype = #{record.rtype,jdbcType=INTEGER},
      rstate = #{record.rstate,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cdyy.loan.pojo.po.LoanRepayment" >
    update loan_repayment
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=BIGINT},
      </if>
      <if test="lid != null" >
        lid = #{lid,jdbcType=BIGINT},
      </if>
      <if test="reperiods != null" >
        reperiods = #{reperiods,jdbcType=INTEGER},
      </if>
      <if test="rexpiretime != null" >
        rexpiretime = #{rexpiretime,jdbcType=TIMESTAMP},
      </if>
      <if test="rmoney != null" >
        rmoney = #{rmoney,jdbcType=DOUBLE},
      </if>
      <if test="rtime != null" >
        rtime = #{rtime,jdbcType=TIMESTAMP},
      </if>
      <if test="rtype != null" >
        rtype = #{rtype,jdbcType=INTEGER},
      </if>
      <if test="rstate != null" >
        rstate = #{rstate,jdbcType=INTEGER},
      </if>
    </set>
    where rid = #{rid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cdyy.loan.pojo.po.LoanRepayment" >
    update loan_repayment
    set uid = #{uid,jdbcType=BIGINT},
      lid = #{lid,jdbcType=BIGINT},
      reperiods = #{reperiods,jdbcType=INTEGER},
      rexpiretime = #{rexpiretime,jdbcType=TIMESTAMP},
      rmoney = #{rmoney,jdbcType=DOUBLE},
      rtime = #{rtime,jdbcType=TIMESTAMP},
      rtype = #{rtype,jdbcType=INTEGER},
      rstate = #{rstate,jdbcType=INTEGER}
    where rid = #{rid,jdbcType=BIGINT}
  </update>
</mapper>