<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdyy.loan.dao.RechargeMapper">
  <resultMap id="BaseResultMap" type="com.cdyy.loan.pojo.vo.Recharge">
    <id column="rid" jdbcType="INTEGER" property="rid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="rtype" jdbcType="VARCHAR" property="rtype" />
    <result column="rbank" jdbcType="VARCHAR" property="rbank" />
    <result column="rmoney" jdbcType="DECIMAL" property="rmoney" />
    <result column="rcounterfee" jdbcType="DECIMAL" property="rcounterfee" />
    <result column="ractual" jdbcType="DECIMAL" property="ractual" />
    <result column="rstate" jdbcType="VARCHAR" property="rstate" />
    <result column="rserial" jdbcType="VARCHAR" property="rserial" />
    <result column="rtime" jdbcType="TIMESTAMP" property="rtime" />
    <association property="customer" javaType="com.cdyy.loan.pojo.vo.Customer">
    	<result property="uid" column="uid"/> 
	    <result property="username" column="username"/> 
	    <result property="realname" column="realname"/> 
	</association>
  </resultMap>
  
   <resultMap id="CapRecMap" type="com.cdyy.loan.pojo.vo.Recharge">
    <id column="rid" jdbcType="INTEGER" property="rid" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="rtype" jdbcType="VARCHAR" property="rtype" />
    <result column="rmoney" jdbcType="DECIMAL" property="rmoney" />
    <result column="rtime" jdbcType="TIMESTAMP" property="rtime" />
    <result column="rstate" jdbcType="VARCHAR" property="rstate" />
     <!--<association property="capital" javaType="com.ht.h.bean.Capital">
	    <result column="cid" property="cid" />
    	<result column="uid" jdbcType="INTEGER" property="uid" />
    	<result column="available" jdbcType="DECIMAL" property="available" />
	</association>-->
    
    <association property="customer" javaType="com.cdyy.loan.pojo.vo.Customer">
      <result property="uid" column="uid"/> 
    <result property="username" column="username"/> 
    <result property="realname" column="realname"/> 
  </association> 
  </resultMap>
  <sql id="Base_Column_List">
    rid,uid, rbid,rtype, rmoney, rcounterfee,rserial, ractual, rstate, rtime
  </sql>
  
   <sql id="Base_Column_Lists">
    rid, u.uid, rtype, rbank, rmoney, rcounterfee,rserial, ractual, rstate, rtime, username
  </sql>
  
  <sql id="Cap_Rec_List">
   r.rstate, r.rtime,r.rtype,r.Rmoney,c.Available
  </sql>
  <update id="updateRecharge" parameterType="com.cdyy.loan.pojo.vo.Recharge">
      UPDATE loan_recharge SET  rstate = #{rstate} WHERE rid = #{rid}
  </update>
    <select id="selectRecharge" resultType="com.cdyy.loan.pojo.vo.Recharge">
        SELECT
        <include refid="Base_Column_List"/>
        FROM loan_recharge WHERE uid = #{uid} limit #{start},#{pageSize}
    </select>
    <select id="rechargeCount" resultType="int">
        SELECT count(*) FROM loan_recharge
    </select>
  <!--<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from recharge 
    where rid = #{rid,jdbcType=INTEGER}
  </select>
  
  <select id="queryAll" parameterType="Map" resultMap="BaseResultMap">
  	select <include refid="Base_Column_Lists" /> from recharge r, Customer u
		<where>
			r.uid=u.uid
			<if test="username != null and username != '' ">
				and u.username like #{username}
			</if>
			<if test="rstate != null and rstate != '' ">
				and r.rstate = #{rstate}
			</if>
			<if test="rtime!=null and rtime1!=null">
				and r.rtime between #{rtime} and #{rtime1} 
			</if>
		</where>
		order by r.rid desc
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
  </select>
  
  <select id="queryByRserial" parameterType="String" resultType="Integer">
  	select rid from recharge r where rserial=#{0}
  </select>
  
  <select id="getTotal" parameterType="Map" resultType="Long">
  	select count(*) from recharge r, Customer u
		<where>
			r.uid=u.uid	
			<if test="username != null and username != '' ">
				and u.username like #{username}
			</if>
			<if test="rstate != null and rstate != '' ">
				and r.rstate = #{rstate}
			</if>
			<if test="rtime!=null and rtime1!=null">
				and r.rtime between #{rtime} and #{rtime1} 
			</if>
		</where>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from recharge
    where rid = #{rid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ht.h.bean.Recharge">
    insert into recharge (rid, uid, rtype, 
      rbank, rmoney, rcounterfee, 
      ractual, rstate, rtime
      )
    values (#{rid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{rtype,jdbcType=VARCHAR}, 
      #{rbank,jdbcType=VARCHAR}, #{rmoney,jdbcType=DECIMAL}, #{rcounterfee,jdbcType=DECIMAL}, 
      #{ractual,jdbcType=DECIMAL}, #{rstate,jdbcType=VARCHAR}, #{rtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ht.h.bean.Recharge" >
    insert into recharge
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rid != null">
        rid,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="rtype != null">
        rtype,
      </if>
      <if test="rbank != null">
        rbank,
      </if>
      <if test="rmoney != null">
        rmoney,
      </if>
       <if test="rserial != null">
        rserial,
      </if>
      <if test="rcounterfee != null">
        rcounterfee,
      </if>
      <if test="ractual != null">
        ractual,
      </if>
      <if test="rstate != null">
        rstate,
      </if>
      <if test="rtime != null">
        rtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rid != null">
        #{rid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="rtype != null">
        #{rtype,jdbcType=VARCHAR},
      </if>
      <if test="rbank != null">
        #{rbank,jdbcType=VARCHAR},
      </if>
      <if test="rmoney != null">
        #{rmoney,jdbcType=DECIMAL},
      </if>
       <if test="rserial != null">
        #{rserial,jdbcType=DECIMAL},
      </if>
      <if test="rcounterfee != null">
        #{rcounterfee,jdbcType=DECIMAL},
      </if>
      <if test="ractual != null">
        #{ractual,jdbcType=DECIMAL},
      </if>
      <if test="rstate != null">
        #{rstate,jdbcType=VARCHAR},
      </if>
      <if test="rtime != null">
        #{rtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ht.h.bean.Recharge">
    update recharge
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="rtype != null">
        rtype = #{rtype,jdbcType=VARCHAR},
      </if>
      <if test="rbank != null">
        rbank = #{rbank,jdbcType=VARCHAR},
      </if>
      <if test="rmoney != null">
        rmoney = #{rmoney,jdbcType=DECIMAL},
      </if>
      <if test="rcounterfee != null">
        rcounterfee = #{rcounterfee,jdbcType=DECIMAL},
      </if>
      <if test="ractual != null">
        ractual = #{ractual,jdbcType=DECIMAL},
      </if>
      <if test="rstate != null">
        rstate = #{rstate,jdbcType=VARCHAR},
      </if>
      <if test="rtime != null">
        rtime = #{rtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where rid = #{rid,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.ht.h.bean.Recharge">
    update recharge
    set uid = #{uid,jdbcType=INTEGER},
      rtype = #{rtype,jdbcType=VARCHAR},
      rbank = #{rbank,jdbcType=VARCHAR},
      rmoney = #{rmoney,jdbcType=DECIMAL},
      rcounterfee = #{rcounterfee,jdbcType=DECIMAL},
      ractual = #{ractual,jdbcType=DECIMAL},
      rstate = #{rstate,jdbcType=VARCHAR},
      rtime = #{rtime,jdbcType=TIMESTAMP}
    where rid = #{rid,jdbcType=INTEGER}
  </update>
  
  &lt;!&ndash; 第一次充值记录查询 &ndash;&gt;
  <select id="queryBy1" resultMap="BaseResultMap">
  	select * from recharge r,customer u where u.uid=r.uid and u.uid in(select uid from customer) GROUP BY r.uid
  </select>
  
  <select id="getTotal1" resultType="Long">
  	select * from recharge r,customer u where u.uid=r.uid and u.uid in(select uid from customer) GROUP BY r.uid
  </select>
  
   <select id="queryBy" parameterType="Map" resultMap="BaseResultMap">
  	select r.*,u.username from recharge r, Customer u
		<where>
			r.uid=u.uid	
			<if test="uid != null and uid != '' ">
				and r.uid = #{uid}
			</if>
			<if test="username != null and username != '' ">
				and u.username like #{username}
			</if>
			<if test="rstate != null and rstate != '' ">
				and r.rstate = #{rstate}
			</if>
			<if test="rtime!=null and rtime1!=null">
				and r.rtime between #{rtime} and #{rtime1} 
			</if>
		</where>
		order by r.rid desc
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
  </select>
  
   <select id="getTotalBy" parameterType="Map" resultType="Long">
  	select count(*) from recharge r, Customer u
		<where>
			r.uid=u.uid	
			<if test="uid != null and uid != '' ">
				and r.uid = #{uid}
			</if>
			<if test="username != null and username != '' ">
				and u.username like #{username}
			</if>
			<if test="rstate != null and rstate != '' ">
				and r.rstate = #{rstate}
			</if>
			<if test="rtime!=null and rtime1!=null">
				and r.rtime between #{rtime} and #{rtime1} 
			</if>
		</where>
  </select>
  <select id="rechargetQueryAll" parameterType="Map" resultMap="CapRecMap">
  	select <include refid="Cap_Rec_List" /> 
  		from recharge r, capital c
		<where>
			r.uid=c.uid
			 <if test="uid != null">
      			and  c.uid = #{uid}
     		 </if>
			<if test="rtime!=null and rtime1!=null">
			and r.rtime between #{rtime} and #{rtime1}
			</if>
			
		</where>
		order by r.rtime desc
		<if test="start!=null and size!=null">
			limit #{start},#{size}
		</if>
  </select>
   
  <select id="rechargetCount"  parameterType="Map" resultType="java.lang.Integer">
		select count(*) from recharge r, capital c
		<where>
			r.uid=c.uid
			 <if test="uid != null">
      			and  r.uid = #{uid}
     		 </if>
			<if test="rtime!=null and rtime1!=null">
			and r.rtime between #{rtime} and #{rtime1}
			</if>
		</where>
	</select>-->
</mapper>

